In [26]:

#data oprations
    # 1. Item accessing
    # 2. Item insertion
    # 3. Item assignment
    # 4. Item deletion

In [3]:
from keyword import kwlist as k

# for w in k:
#     print(w)

a = 3+2j
b= "Hello"
c= ("hr","hrrr")
e= {"boy":"aryan"}
type(e)

dict

In [4]:
s= 'A sample python statement'
s[-5:5:-1]

'etats nohtyp el'

In [50]:
d= [4,6,'hi']

d[2][0]

'h'

In [3]:
d1 = [{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]
#d1[2]['66'][0]['00'][0]
d1[2]['66'][0]['00'][0]

98

In [2]:
#item insertion
s='468hi03.4'
a= [4,6,8,'hi',3.4]
b= (4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d= {4,6,8,'hi',3.4}

In [15]:
len(a),len(c)

(5, 2)

In [51]:
#we can only add tuple with tuple and single value tuple we must add , ............
b = b[:2] + ('byeee',) +b[2:]
b

(4, 6, 'byeee', 8, 'hi', 3.4)

In [53]:
#we can add list and tuple by adding * sign before the name (args and kwargs)
(*a , *s,*b)

(4,
 6,
 8,
 'hi',
 3.4,
 '4',
 '6',
 '8',
 'h',
 'i',
 '0',
 '3',
 '.',
 '4',
 4,
 6,
 'byeee',
 8,
 'hi',
 3.4)

In [45]:
#Adding two or more dictionaries in python we use **
c1={'a':49,'b':25}
{**c,**c1} #kwargs

{4: 6, 8: ['hi', 3.4], 'a': 49, 'b': 25}

In [52]:
#itme assingment 
#s[0] = 'A' not possible
#a[0] = 'A' Possible
#b[0] = 'A' NOt possible
#c[4] = 55 Done


#Item Deletion
#del s[0] #not possible
#del a[0] possible

In [59]:
#important functions in str are upper , lower, find, split, strip, join, format,count
#important functions in list are append, sort, count, copy, insert, remove, index, pop
#important functions in tuple are count , index
#important functions in dict are key,values.update, get,pop
#important functions in set are add, difference , union, pop ,remove





r= 'lowercase'
r.upper() , r.lower(),r.capitalize()

('LOWERCASE', 'lowercase', 'Lowercase')

In [62]:
r.strip('lo')

'wercase'

In [8]:
f=[]
# for val in a:
#     f.append(val*2)
for i in range(len(a)):
    f.append(a[i]*2)
f

[8, 12, 16, 'hihi', 6.8]

In [10]:
#comprehensions
# only for for loop which are of one line
#list comprehensions [output for-loop ] [output for-loop if-condition] we cannot apply else or elif condition in this
#Dictionary  {key:value , for loop}
# set  

#Generator
f = [val*3 for val in a ]
f

[12, 18, 24, 'hihihi', 10.2]

In [19]:
k = [4,7,3,67,34,2,4,45,22,11,9,8 ]
p = [val*2 if val % 2 ==1 else (val //2 if val<20 else val)  for val in k]
p

[2, 14, 6, 134, 34, 1, 2, 90, 22, 22, 18, 4]

In [21]:
m ={val:val**2 for val in k if val%2==0}
m

{4: 16, 34: 1156, 2: 4, 22: 484, 8: 64}

In [24]:
for i,j in m.items():
    print(i,':',j)

4 : 16
34 : 1156
2 : 4
22 : 484
8 : 64

In [29]:
#user defined functions
def function_ka_naam():
    '''this is just for other developers to use 
        junior developer
    '''
    print("aa gya")

help(function_ka_naam)
# function_ka_naam()

Help on function function_ka_naam in module __main__:

function_ka_naam()
    this is just for other developers to use
    junior developer

In [18]:
def merimerzi(first,second=15): 
    return(first*second)+first

In [19]:
merimerzi(5) #65+15

80

In [22]:
import camelcase

c = camelcase.CamelCase()

txt = "aryan khandelwal is going to be the best"

print(c.hump(txt))

Aryan Khandelwal is Going Ot Be The Best

In [31]:
# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum ',sum)

The sum  9.0

In [34]:
def kuch(x= 10,*v,**u):
    return(x**2),v,u

kuch(3,4,6,5,'str':home)

SyntaxError: invalid syntax (2119276980.py, line 4)